body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: aliceblue;
}

.grid-container {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    padding: 20px;
}

.filter-image {
    text-align: center;
    width: 30vw;
    height: 80vh;
    object-fit: cover;
    background: white;
    padding: 10px 10px 35px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease; 
    z-index: 0;
    position: relative;
    transform: rotate(4deg);
}

.photo1, .photo2, .photo3 {
    transform: rotateY(-180deg);
    padding: 1rem;
    display: inline-block;
    perspective: 1000px; 
}

.photo1 {
    filter: url(#crumple-effect-1);
}

.photo2 {
    filter: url(#crumple-effect-2);
}

.photo3 {
    filter: url(#crumple-effect-3);
}

.photo1:hover .filter-image,
.photo2:hover .filter-image,
.photo3:hover .filter-image {
    transform: rotateY(-180deg);
    filter: sepia(50%);
}

.photo1:hover, .photo2:hover, .photo3:hover {
    animation: rotate-back 0.5s ease 0.5s; 
}

@keyframes rotate-back {
    from {
        transform: rotateY(-180deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}